#############################
# generic
#############################

*.bak

#############################
# spirv/sass
#############################

*.spv
*.spva
*.sass
*.sassbin

#############################
#specific to the project
#############################

cmake_built
cmake_build
build
_bin/
_install/
bin_x64
downloaded_resources/
_downloaded_resources/
zbsgfxpack.lua
/out